<p-tabView *ngIf="patient">
  <p-tabPanel header="מידע" leftIcon="fa-info-circle" >
    <h1 *ngIf="patient">


      משפחת {{patient.contact.lastName}},
     ברוכים הבאים!


    </h1>

    <div>
      <img src="assets/pics/generaldmottip.png" alt="tip picture">
    </div>
    <div class="tip-panel">
      <p-panel header="טיפ למחשבה" *ngIf="tip">
        {{tip}}
      </p-panel>
      <p-accordion>
        <p-accordionTab header="הנחיות להורה">
          <strong>הורים יקרים,</strong>
          <ul class="explanation-list">
            <li>
              אנו מגישים לכם תוכנית לפעילויות במסגרת הבית והסביבה כפי שנקבע על ידי המרפא בעיסוק בהתאם לאבחון/הערכה שנקבע לילדכם.
            </li>
            <li>
              להתחלת ביצוע הפעילויות יש לבחור ממסך הכניסה  הראשי תוכנית ושם ניתן לבחור את הקטגוריה הרצויה.
            </li>
            <li>
              לכל פעילות מופיעים הדגשים שחשוב לשים לב אליהם אצל ילדכם בעת ביצוע הפעילות.
            </li>
            <li>
              אין חשיבות לרצף בחירת הקטגוריות או הפעילויות.

            </li>
            <li>
              במידה וברצונכם להוסיף פעילות ניתן לפנות למרפא בעיסוק והוא יעדכן את התוכנית בהתאם.

            </li>
            <li>ניתן לפנות למרפא בעיסוק בכל שאלה או בעיה שעולה במהלך הפעילות עצמה.

            </li>
          </ul>
        </p-accordionTab>
        <p-accordionTab header="אודות">
<odot-component></odot-component>
        </p-accordionTab>
      </p-accordion>
    </div>
  </p-tabPanel>
  <p-tabPanel header="תוכנית" leftIcon="fa-tasks" [selected]='!isFirst'>
    <h4>שבוע {{currentWeek}} מתוך {{totalWeeks}}</h4>
    <h4>ההתקדמות  שלנו השבוע</h4>
    <ngb-progressbar type="info" [animated]="true" [value]="progressBar"></ngb-progressbar>
    <span>
      לפניכם רשימת קטגוריות, לחצו על הקטגוריה  בה הנכם מעוניינים  להתחיל
    </span>

    <div class="category-buttons" *ngIf="activeProgram.patientActivityList.length !== finishedActivities.length">
      <button pButton type="button" class="btn-category" (click)="navToProg('גינה ציבורית')"
              [disabled]="outdoorActivity.length ===0" icon="fa-bicycle" iconPos="left"
              label="

              גינה ציבורית

              ({{outdoorActivity.length}})

"></button>
      <button pButton type="button" (click)="navToProg('יצירה')" class="btn-category"
              [disabled]="creativityActivity.length ===0" icon="fa-check" iconPos="left"
              label="יצירה
              ({{creativityActivity.length}})
"></button>
      <button pButton type="button" (click)="navToProg('לבוש')" [disabled]="clothesActivity.length ===0"
              icon="fa-user-secret" iconPos="left" label="לבוש
              ({{clothesActivity.length}})
"></button>
      <button pButton type="button" (click)="navToProg('עצמאות בבית')" class="btn-category"
              [disabled]="independenceActivity.length ===0" icon="fa-home" iconPos="left"
              label="
              עצמאות בבית
               ({{independenceActivity.length}})
"></button>
      <button pButton type="button" (click)="navToProg('ארוחה')" class="btn-category"
              [disabled]="foodActivities.length ===0" icon="fa-cutlery" iconPos="left"
              label="
              ארוחה
              ({{foodActivities.length}})"></button>
    </div>

    <div *ngIf="activeProgram.patientActivityList.length === finishedActivities.length" class="weekFinished">
      כל הכבוד!
      סיימנו שבוע {{currentWeek}}
      <div *ngIf="currentWeek < totalWeeks">

        מוכנים לשבוע הבא?
        <button pButton type="button" (click)="startNewWeek()" class="btn-primary" label="התחל שבוע חדש!"></button>
      </div>

      <div *ngIf="currentWeek === totalWeeks">
        סיימנו את התוכנית
        <br>
        לקבלת תוכנית פעילויות חדשה, אנא פנה למטפל בריפוי בעיסוק
      </div>
    </div>


  </p-tabPanel>
</p-tabView>
