<p-tabView>
  <p-tabPanel header="מידע" leftIcon="fa-info-circle">
    <div>
      <img src="../assets/pics/generaldmot.svg" alt="">
    </div>
    <div class="tip-panel">
      <p-panel header="טיפ למשבה">
        {{tip}}
      </p-panel>
    </div>
    <div class="message-panel">

      <p-panel header="הודעה">
        {{message}}
      </p-panel>
    </div>
  </p-tabPanel>
  <p-tabPanel header="תוכנית" leftIcon="fa-tasks">

    <div class="progress-icons">
      <i class="fa fa-bicycle" aria-hidden="true"></i>
      <i class="fa fa-cutlery" aria-hidden="true"></i>
      <i class="fa fa-home" aria-hidden="true"></i>
      <i class="fa fa-scissors success" aria-hidden="true"></i>
      <i class="fa fa-user-secret" aria-hidden="true"></i>
    </div>
    <div class="category-buttons">
      <button pButton type="button" class="btn-category" (click)="navToProg()" icon="fa-bicycle" iconPos="left" label="גינה ציבורית"></button>
      <button pButton type="button"  class="btn-category success" icon="fa-check" iconPos="left" label="יצירה"></button>
      <button pButton type="button" class="btn-category" icon="fa-user-secret" iconPos="left" label="לבוש"></button>
      <button pButton type="button" class="btn-category" icon="fa-home" iconPos="left" label="סידור בית"></button>
      <button pButton type="button" class="btn-category" icon="fa-cutlery" iconPos="left" label="ארוחה"></button>
    </div>

  </p-tabPanel>
</p-tabView>
