
<p-panel header="{{activity.activityType}}">
  <img src="{{imgUrl}}" style="width: 100%" alt="{{activity.activityNameParent}}">
  <p-accordion [multiple]="true">
    <p-accordionTab header="{{activity.activityNameParent}}">
      {{activity.description}}
    </p-accordionTab>
  </p-accordion>
  <div class="finishBtn" >
    <button pButton type="button" (click)="showButtonsGroup()" *ngIf="!showButtons" label="סיימנו"></button>
  </div>

  <div class="feedback-buttons" *ngIf="showButtons">
    <h2>איך היינו?</h2>
    <div>
      <button pButton  type="button" (click)="addResponse('הצלחנו')" class="success-btn" label="הצלחנו" icon="fa-smile-o" iconPos="left"></button>
      <button pButton  type="button" (click)="addResponse('כמעט הצלחנו')" class="meh-btn" label="כמעט הצלחנו" icon="fa-meh-o" iconPos="left"></button>
      <button pButton  type="button" (click)="addResponse('לא ביצענו')" class="frown-btn" label="לא ביצענו" icon="fa-frown-o" iconPos="left"></button>
    </div>
  </div>

</p-panel>

