
<p-panel header="Title">
  <img src="../../../assets/pics/category-pics/salon_bg_final2.png" style="width: 100%" alt="עצבמאות בבית">
  <p-accordion [multiple]="true">
    <p-accordionTab header="{{activity.activityName}}">
      {{activity.description}}
    </p-accordionTab>
  </p-accordion>
  <div class="feedback-buttons">
    <button pButton  type="button" class="success-btn" label="הצלחנו" icon="fa-smile-o" iconPos="left"></button>
    <button pButton  type="button" class="meh-btn" label="כמעט הצלחנו" icon="fa-meh-o" iconPos="left"></button>
    <button pButton  type="button" class="frown-btn" label="לא ביצענו" icon="fa-frown-o" iconPos="left"></button>
  </div>
</p-panel>

