@import url(http://fonts.googleapis.com/earlyaccess/notosanshebrew.css);
@import 'common/_variables.scss';

body {
  background-color: $lighter-color;
}
.ui-tabview .ui-tabview-nav li {

  width: 48%;
  a {
    width: 8rem;
  }
  .ui-tabview-left-icon {
      vertical-align: middle;
      float: left;
  }

}
img {
  width: 170px;
}
.tip-panel {
  margin-bottom: 1rem;
  .ui-widget-header {
    background: linear-gradient(to bottom, $secondary-light 0%, $secondary-light 100%);
    color: white;
  }
  .ui-panel-content {
    max-height: 8rem;
    overflow: auto;
  }
}

.message-panel {
  @extend .tip-panel;
}

.progress-icons {
  display: flex;
  justify-content: center;
  .fa {
    padding: 1rem;
    font-size: 1.5rem;
    color: $light-color;
    background-color: $base-color;
    margin: .5rem;
    border-radius: .4rem;
  }

  .success {
    color: $lighter-color;
    background-color: $success-background;
  }

}
.category-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  span {
    display: block;
  }
  .ui-button {
    display: block;
    width: 12rem;
    margin: .5rem auto;
    width: 14rem;
    font-size: 1.5rem;
    text-align: right;
    &.success {
      background: linear-gradient(to bottom, $success-color 0%, $success-background 100%);
      box-shadow: 0 1px 0 $success-color inset, 0 1px 2px rgba(0,0,0,0.2) !important;
      border: 1px solid $success-color;
    }
  }
  .ui-button-text-icon-left .fa {
    margin-top: -.8rem;
  }
}
.tasks-buttons {
  @extend .category-buttons;
}
.feedback-buttons {
  @extend .category-buttons;
  .ui-button {
    &.success-btn {
      @extend .success;
    }
    &.meh-btn {
      background: linear-gradient(to bottom, $base-color 0%, $dark-color 100%);
      box-shadow: 0 1px 0 $base-color inset, 0 1px 2px rgba(0,0,0,0.2) !important;
      border: 1px solid $base-color;
    }
    &.frown-btn {
      background: linear-gradient(to bottom, $secondary-color 0%, $secondary-dark-color 100%);
      box-shadow: 0 1px 0 $secondary-color inset, 0 1px 2px rgba(0,0,0,0.2) !important;
      border: 1px solid $secondary-color;
    }
  }
}
